Actividad1 ClubNatacion (simil a Librería)/Club/ClubNatacion.dtd

<!ELEMENT Clientes (Cliente*)>
<!ELEMENT Cliente (Apellido1,Apellido2,Nombre,Suscripcion,FechainiDeSub,FechafinDeSub,Sexo)>
<!ELEMENT Apellido1 (#PCDATA)>
<!ELEMENT Apellido2 (#PCDATA)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Suscripcion (#PCDATA)>
<!ELEMENT FechainiDeSub (#PCDATA)>
<!ELEMENT FechafinDeSub (#PCDATA)>
<!ELEMENT Sexo (#PCDATA)>