Actividad6 (simil)/VentaAgricola.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="VentaAgricola">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nombre" type="xs:string" />
				<xs:element name="Articulos" type="tipoArticulos" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="tipoArticulos">
		<xs:sequence>
			<xs:element name="género" type="tipoGénero" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tipoGénero">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" />
			<xs:element name="Descripcion" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>