Actividad6 Modulos CFGS/Módulos CFGS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Modulos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Modulo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre"></xs:element>
                            <xs:element name="UD" type='Contenidos'></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>